<ion-view title="{{scenario.title}}" class="bubble-background">
	<ion-content has-header="true" has-footer="true" padding="false">
		<div class="item tabs tabs-icon-top">
			<a class="tab-item" href="#/app/scenario/{{scenario.id}}/turn">
				<i class="icon ion-clock"></i>
				Turn
			</a>
			<a class="tab-item" href="#/app/scenario/{{scenario.id}}/orders">
				<i class="icon ion-clipboard"></i>
				Orders
			</a>
			<a class="tab-item" href="#/app/scenario/{{scenario.id}}/roster">
				<i class="icon ion-person-stalker"></i>
				Roster
			</a>
			<a class="tab-item" href="#/app/scenario/{{scenario.id}}/fire">
				<i class="icon ion-bonfire"></i>
				Fire
			</a>
			<a class="tab-item" href="#/app/scenario/{{scenario.id}}/melee">
				<i class="icon ion-load-b"></i>
				Melee
			</a>
			<a class="tab-item" href="#/app/scenario/{{scenario.id}}/morale">
				<i class="icon ion-beer"></i>
				Morale
			</a>
			
		</div>
		<ion-nav-view></ion-nav-view>
	</ion-content>
</ion-view>
