<ion-view title="{{scenario.title}}" class="bubble-background">
	<ion-content>
		<ion-tabs class="tabs-icon-top tabs-color-active-positive">

		  <ion-tab title="Turn" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/turn">
		    <ion-nav-view name="scenario-tab-turn@app"></ion-nav-view>
		  </ion-tab>

		  <ion-tab title="Orders" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-gear" href="#/orders">
		    <ion-nav-view name="scenario-tab-orders"></ion-nav-view>
		  </ion-tab>

		  <ion-tab title="Roster" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/roster">
		    <ion-nav-view name="scenario-tab-roster"></ion-nav-view>
		  </ion-tab>

		  <ion-tab title="Fire" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/fire">
		    <ion-nav-view name="scenario-tab-fire"></ion-nav-view>
		  </ion-tab>

		  <ion-tab title="Melee" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/melee">
		    <ion-nav-view name="scenario-tab-melee"></ion-nav-view>
		  </ion-tab>
		  
		  <ion-tab title="Morale" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/morale">
		    <ion-nav-view name="scenario-tab-morale"></ion-nav-view>
		  </ion-tab>
		  
		</ion-tabs>
	</ion-content>
</ion-view>
