/* Empty. Add your own CSS if you like */
.title-image {
    margin-top: 8px;
    height: 27px;
}

.battle-image {
    height: 27px;
}

.army-image {
    height: 27px;
    vertical-align: middle;
}

.order-image {
    height: 27px;
    vertical-align: middle;
}